<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Package source 1" value="https://nuget.devexpress.com/s8nCWlx4nJxg5dQPM9R8Wb4fECoGBS6T15yEGSaggvESeZ2GwQ/api/v3/index.json" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="/home/ubuntu/.nuget/packages" />
  </config>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
