@page
@{
    ViewData["Title"] = "Ogur Sentinel";
}
 
<div class="text-center mt-5">
    <h1 class="display-3">🦎 Ogur Sentinel</h1>
    <p class="lead mt-3">Strażnik respawnów. Nikt nie ucieknie.</p>
    
    <div class="mt-5">
        <a href="/respawn" class="btn btn-primary btn-lg mx-2">
            ⏱️ Respawn Timers
            <small class="d-block text-white-50" style="font-size: 0.8rem;">Pewnie po to tu przyszedłeś</small>
        </a>
        
        <a href="/download" class="btn btn-success btn-lg mx-2">
            💾 Download Desktop App
            <small class="d-block text-white-50" style="font-size: 0.8rem;">Fajne zrobiłem, pobierz se</small>
        </a>
    </div>
    
</div>